{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}My Blog{% endblock %}</title>
  <!-- static tag resolves STATIC_URL + path -->
  <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
  <header>
    <h1><a href="{% url 'post_list' %}">My Blog</a></h1>


  <form action="{% url 'search' %}" method="get" style="display:inline;">
  <input type="text" name="q" placeholder="Search posts or tags..." value="{{ request.GET.q|default:'' }}">
  <button type="submit">Search</button>
</form>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    © {% now "Y" %} My Blog
  </footer>
</body>
</html>
